catboost_info/
data/*
!data/adult/
!data/adult/**
eval_models/
log/
exp/

method/MargDL/flat_main.py 
method/MargDL/sis.py 
method/MargDL/data/flat_dataset.py 

*.ipynb 
*.out

nohup.out
run_exp.py
run_ablation.py
flat_main.py
temp.py

util/OpenSans-SemiBold.ttf
util/Times-SemiBold.ttf

method/PrivMRF/
method/private_gsd/
method/jam/
method/reconstruct_algo/