catboost_info/
data/
eval_models/
log/
exp/

!data/adult/

*.ipynb 

nohup.out
run_exp.py
run_ablation.py
flat_main.py

util/OpenSans-SemiBold.ttf
util/Times-SemiBold.ttf

method/PrivMRF/
method/private_gsd/
method/jam/
method/reconstruct_algo/